.mensaje-advertencia {
  background-color: #ffcccc;
  /* Fondo rojo claro */
  color: #cc0000;
  /* Texto rojo oscuro */
  border: 1px solid #cc0000;
  /* Borde rojo */
  padding: 10px;
  margin-top: 10px;
  /* Espacio superior */
  border-radius: 4px;
  /* Bordes redondeados */
  max-width: 300px;
  /* Ancho máximo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra */
}

.mensaje-advertencia2 {
  background-color: #ffcccc;
  /* Fondo rojo claro */
  color: #cc0000;
  /* Texto rojo oscuro */
  border: 1px solid #cc0000;
  /* Borde rojo */
  padding: 10px;
  margin-top: 10px;
  /* Espacio superior */
  border-radius: 4px;
  /* Bordes redondeados */
  max-width: 300px;
  /* Ancho máximo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra */
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  z-index: 50;
}

#likeEmoji {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

#likeEmoji fa-icon {
  color: red;
  font-size: 24px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.liked {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.liked-icon {
  color: red;
}

.unliked-icon {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}